.pageLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: auto;
}

.loadingText {
  color: var(--color-text-secondary);
  font-size: 14px;
}
